body{
    background-color: white;
    color:black;
    text-align: center;
  }
  
  
  h1 {
    text-align: center;
    padding: 23px;
    color: Blac;
  }
  
  input{
    width:80px;
    height: 60px;
    background-color: #333;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 18px;
  }
  .button{
    width: 60px;
    height: 60px;
    background-color: #333;
    color: white;
  
    border-radius: 10%;
    font-size: 18px;
  }
  
  
  .op{
    width: 60px;
    height: 60px;
    background-color: #eb780d;
    color: white;
    
    border-radius: 10%;
    font-size: 18px;
  }
  
  
  
  
  
  .calculator {
    background-color: transparent;
    width: 240px;
    border: 1px solid black;
    border-radius: 3px;
    padding-left:10px;
    margin: auto;
  }